*{
    padding: 0;
    margin: 0;
}
.container{
    background-color: white ;
    width: 400px;
    height: 400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.title{
    flex-grow: 1;
    height: 50px;
    text-align: center;
    font-size: 2cm;
    font-weight: bold;
    background-color: white;
}
.buttons{
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}
.button{
    flex-grow: 1;
    margin: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    width: 30px;
}